# Airflow config
AIRFLOW_SERVICE = airflow-webserver
AIRFLOW_PROJ_DIR=./airflow
AIRFLOW_UID=50000
AIRFLOW_GID=0
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
AIRFLOW_CONN_ID = postgres_connection
AIRFLOW_API_URL=http://airflow-webserver:8080/api/v1/dags/fetch_data/dagRuns

#PostgreSQL config
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

#pgAdmin4 config
PGADMIN_DEFAULT_EMAIL=admin@admin.ru
PGADMIN_DEFAULT_PASSWORD=12345678

#LLM
LLM_HOST=ollama
LLM_PORT=11434
MODEL="mistral"

#Backend
BACKEND_HOST=uvicorn
BACKEND_PORT=8001