# Services
POSTGRES_SERVICE=postgres
POSTGRES_PORT=5432
LLM_SERVICE=ollama
LLM_PORT=11434
BACKEND_SERVICE=backend
BACKEND_PORT=8001
FRONTEND_SERVICE=frontend
FRONTEND_PORT=8501
AIRFLOW_SERVICE=airflow-webserver
AIRFLOW_PORT=8080

# Airflow config
AIRFLOW_PROJ_DIR=./airflow
AIRFLOW_UID=50000
AIRFLOW_GID=0
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
AIRFLOW_CONN_ID=postgres_connection

#PostgreSQL config
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

#pgAdmin4 config
PGADMIN_DEFAULT_EMAIL=admin@admin.ru
PGADMIN_DEFAULT_PASSWORD=12345678

#LLM
MODEL="mistral"